.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #0b0653;
    padding: 10px 30px;
    border: 1px solid rgba(0,0,0,.0625);
  }
  .flex-dashboard header a {
  text-decoration: none;
  color: #f1f1f2;
  }
  
  .flex-dashboard header svg {
  color:#f1f1f2;
  }

  .flex-dashboard .fa-bars {
    font-size: 22px;
    cursor: pointer;
  }

  @media screen and (max-width: 760px){
    .flex-dashboard header a  {
      display: none;
    }
    .flex-dashboard header {
      justify-content: flex-end;
    }
  }