main {
    display: block;
	height: 100%;
    background-color: #f1f1f2;
    width: calc(100% - 300px);
}

main  .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}



.main-content::-webkit-scrollbar-track
{  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.main-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(77,48,255)),
									   color-stop(0.72, rgb(82,57,237)),
									   color-stop(0.86, rgb(11,6,83)));
}
.main-content .panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #ccc;
	margin: 10px 0;
}

.panel-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.panel-50 {
	width: 48%;
}

.panel-row button {
	height: 180px;
	background: linear-gradient(135deg, #a777e3, #5239ed);
	font-size: 22px;
	color: #fff;

}
.panel-row button svg {
	margin-bottom: 10px;
	font-size: 30px;
}


.panel-row button:hover {
	transform: scale(1.05);
	transition: 0.2s;
}

div#ajax-content {
	width: 100%;
	margin-top: 20px;
	background: white;
	box-shadow: 0 0 2rem rgba(0, 0,0, 0.1);
}

div#ajax-content button {
	background: linear-gradient(135deg, #a777e3, #5239ed);
	color: #fff;
}

div#ajax-content button:hover {
	transform: scale(1.10);
	transition: 0.2s;
}

div#ajax-context label {
	font-size: 14px;
	color: #5239ed;
}

div#ajax-content table svg {
	cursor: pointer;
}

.dynamic-content {
	padding: 20px;
}

div.main-content-title {
	padding: 5px 0;
	
}

div.main-content-title h2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 200;
	color: #4d30ff;
}

div.bmi-parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

div.bmi {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	padding: 40px 20px;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	
}

	div.bmi h2 {
		font-weight: 300;	
		color: #0b0653;
	}


div.bmi h2 span:nth-child(2) {
	color: #5239ed;
	font-weight: 500;
}

 div.dashboard-content {
padding: 10px 0;
 }

.dashboard-flex-parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}


.dashboard-box {
	width: 100%;
	max-width: 350px;
	padding-top: 15%;
	background-color: white;
	justify-content: center;
	box-shadow: 0 0 1rem rgba(156, 156, 156, 0.4);
    border-radius: 5px;
}

.dashboard-box:hover {
	transition: 0.5s;
	box-shadow: 0 0 1rem rgba(156, 156, 156, 1);
	transform: scale(1.05);
}


div.box-icon svg {
	font-size: 18px;
}

div.value {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 400;
}

div.type {
	font-size: 14px;
	margin-top: 5px;
	text-transform: uppercase;
	color: #111;
}


.dashboard-box-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box-weight {
  background-color: rgba(110, 142, 251, 0.1);
  color: #6283E5;

}
.box-pressure {
  background-color: rgba(229, 115, 115, 0.1);
  color: #FA5358;
}

.box-bmi {
  background-color: rgba(220, 231, 117, 0.1);
  color: #AFB42B;

}

.box-workout {
	background-color: rgba(255, 130, 102, 0.1);
	color: #e925a8;

}

div.box-value-percentual {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}



div.box-value-percentual svg {
	margin-right: 10px;
}

.box-value-weight {
	color: #6283E5;
}

.box-value-pressure {
	color: #FA5358;
}

.box-value-bmi {
	color: #AFB42B;
}

.box-value-workout {
	color: #e925a8;
}

.box-value-workout span {
	font-size: 13px;
}



@media screen and (max-width: 1600px) {
	.dashboard-box {
		width: 100%;
		max-width: 300px;
		padding-top: 20%;
		position: relative;
		margin: 0 10px;
		padding-bottom: 20px;
	
	}
}

@media screen and (max-width: 1200px) {
	.dashboard-flex-parent {
		flex-wrap: wrap;
	}
	.dashboard-box {
		padding: 0%;
		height: 240px;
		margin: 20px;
		padding-bottom: 20px;
	}
	
	div.box-icon {
		margin-top: 20px;
	}
	div.box-value-percentual {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
	 }
	}
.status-bmi-mobile {
	display: none;
}

@media screen and (max-width:768px) {
		main {
			display: block;
			height: 100%;
			background-color: #f1f1f2;
			width: calc(100%);
			z-index: 1;
			position: relative;
		}
		main .main-content {
			padding: 10px;
		}
		div.main-content-title h2 {
		text-align: center;
		}
		.panel-row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px 0px;
		}
		
		.panel-50 {
			width: 100%;
		}
		
		.panel-row button {
			height: 180px;
			background: linear-gradient(135deg, #a777e3, #5239ed);
			font-size: 22px;
			color: #fff;
			width: 100%;
		}
        .panel-row button:hover {
			transform: unset;
		}
table {
	max-width: 100%;
	width: 100%;
	text-align: center;
}

table th {
	font-size: 12px;
	font-weight: 400;
}
table td {
	font-size: 10px;
	font-weight: 300;
}
.dynamic-content {
	padding: 0;
}
.dynamic-content form {
	padding: 20px;
}
.dynamic-content form button {
	width: 100%;
 }
 div.bmi-parent {
	padding: 10px 0;
	height: 100%;
 }
 div.bmi {
	height: 300px;
	flex-direction: column;
 }
 div.bmi h2{
	text-align: center;
	text-transform: uppercase;
	margin-top: 20%;
 }
 .status-bmi-mobile {
	display: block;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #5239ed;
	font-weight: 600;
 }
 .status-bmi-desktop {
	display: none;
 }
}


