.register-parent {
    height: 100%;
    padding: 0 2%;
    background-image: url("https://i.imgur.com/sqLcpB9.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 750px;
}

    .register {
        width: 100%;
        max-width: 600px;
        padding:40px 20px 80px 30px;
        color: #fff;
        background:rgba(0,0,0,0.50);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .register-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .register-title img {
        width: 64px;
        height: 64px;
    }

    .register-title h2 {
        font-size: 20px;
        color: #4d30ff;
    }

.register .form-group label {
    font-size: 14px;
}

.register .form-group input {
    font-size: 14px;
}

.register button {
    margin-top: 20px;
    background: linear-gradient(135deg, #a777e3, #5239ed);
    color: #fff;
    width: 100%;
    display: block;
    border: none;
}
.register button:hover {
    color: #fff;
    border: none;
    transform: scale(1.05);
    transition: .2s;
    font-size: 16px;
}