div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #0b0653;
}

main {
    display: block;
    height: 100%;
    background-color: #f1f1f2;
    width: calc(100% - 300px);
}

.flex-dashboard header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #0b0653;
  border: 1px solid rgba(0,0,0,.0625);
  padding: 10px 30px;
}
.flex-dashboard header a {
text-decoration: none;
color: #f1f1f2;
}

.flex-dashboard header a > svg {
color:#f1f1f2;
}

sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(0,0,0,.0625);
    border-radius: 0px;
}

sidebar .sidebar-title img {
    height: 40px;
    width: 40px;
}

sidebar .sidebar-title h2 {
    font-size: 18px;
    margin-top: 8px;
    color:  #4d30ff;

}

div .menu {
    border-right: 1px solid rgba(0,0,0,.0625) ;
}

div .menu ul { 
    list-style-type: none;
}

div .menu ul li {
    border: 1pix solid #f1f1f2;
    padding: 20px 20px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

div .menu ul li svg {
    color: #f1f1f2;
    font-size: 25px;
}

div .menu ul li a {
    color: #f1f1f2;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

div .menu ul li a:hover {
    color:  #4d30ff;

}