<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
   <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>
<div class="flex-dashboard">
    <sidebar>
      <div class="sidebar-title">
        <img src="../images/heart.png" alt="">
        <h2>Health Track</h2>
      </div>
<div class="menu">
<ul>
    <li>
        <i class="fas fa-home"></i>
        <a href="0"></i>Dashboard</a>
    </li>
    <li>
        <i class="fa-solid fa-user"></i>
        <a href="0"></i>Perfil</a>
    </li>
    <li>
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
        <a href="0">Peso e altura</a>
    </li>
    <li>
        <i class="fa-solid fa-heart-pulse"></i>
        <a href="0">Pressão arterial</a>
    </li>
    <li>
        <i class="fa-solid fa-person-walking"></i>
        <a href="0">Atividades fisicas</a>
    </li>
    <li>
        <i class="fa-solid fa-utensils"></i> 
        <a href="0">Alimentação</a>
    </li>

    <li>
        <i class="fa-solid fa-calculator"></i>
        <a href="0">Calculo de IMC</a>
    </li>
</ul>
</div>
    </sidebar>
<main>
    <header>
        <a href="0"> <i class="fas fa-home"></i>         Dashboard</a>
        <a href="0"> <i class="fas fa-sign-out-alt"></i> Logout</a>
    </header>
<div class="main-content">
<p>main</p>
</div>
          
    <main>
</div>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>