<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
   <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>
<div class="flex-dashboard">
    <sidebar>
      <div class="sidebar-title">
        <img src="../images/heart.png" alt="">
        <h2>Health Track</h2>
      </div>
<div class="menu">
<ul>
    <li>
        <i class="fas fa-home"></i>
        <a href="dashboard.html"></i>Dashboard</a>
    </li>
    <li>
        <i class="fa-solid fa-user"></i>
        <a href="profile.html"></i>Perfil</a>
    </li>
    <li>
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
        <a href="manageWeight.html">Peso e altura</a>
    </li>
    <li>
        <i class="fa-solid fa-heart-pulse"></i>
        <a href="managePressure.html">Pressão arterial</a>
    </li>
    <li>
        <i class="fa-solid fa-person-walking"></i>
        <a href="manageActivities.html">Atividades fisicas</a>
    </li>
    <li>
        <i class="fa-solid fa-utensils"></i> 
        <a href="manageFood.html">Alimentação</a>
    </li>

    <li>
        <i class="fa-solid fa-calculator"></i>
        <a href="calculateBMI.html">Calculo de IMC</a>
    </li>
</ul>
</div>
</sidebar>
<main>
    <header>
        <a href="dashboard.html"> <i class="fas fa-home"></i> Dashboard</a>
        <a href="../index.html"> <i class="fas fa-sign-out-alt"></i> Logout</a>
    </header>
    <div class="main-content">
<div class="main-content-title">
    <h2>Gerenciar peso e altura</h2>
</div>
      <div class="panel-row">
    <button class="panel panel-50" a-view="registeringWeight" onclick="fetchContent(this)" a-folder="weight">
        <i class="fa-solid fa-plus"></i>
        Cadastrar Peso</button>
    <button class="panel panel-50"a-view="seeWeight" onclick="fetchContent(this)" a-folder="weight">
        <i class="fa-regular fa-eye"></i>
        Vizualizar Peso</button>
   </div> 
   <div class="content" id="ajax-content">
   </div>
<main>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/fontawesome/js/all.min.js"></script>
<script src="../js/ajax.js"></script>
</body>
</html>